{
  "env": {
    "browser": true,
    "es2020": true
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": "es2020",
    "sourceType": "module"
  },
  "rules": {
    "semi": ["error", "always"],
    "no-unused-vars": 0,
    "no-undef": 0
  }
}
